description = "Default layout"

security = "all"
==

<!DOCTYPE html><html lang="en">

 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
  <title>NextGenFun - {{ this.page.title }} </title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Work+Sans' rel='stylesheet' type='text/css'>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="{{ ('assets/css/style.css')|theme }}" type="text/css" rel="stylesheet" media="screen,projection" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
  <script src="{{ ('assets/js/init.js')|theme }}"></script>
  {% framework extras %}
 </head>
 <body>  {% partial "nav" %}
  <div class="section no-pad-bot" id="index-banner"></div>
  <div class="container" id="principale">
  <div class="section">{% page %}</div>
  <br>
  <div class="section"></div></div>
  {% partial "footer" %}
 </body>
</html>
